
*{
    margin: 0px;
    padding: 0px;
    
}
@font-face{
    font-family: Montserrat;
    src: url(static/Montserrat-ExtraLight.ttf);
}
@font-face{
    font-family: Montserrat;
    src: url(static/Montserrat-Light.ttf);
}
@font-face{
    font-family: Montserrat;
    src: url(static/Montserrat-Bold.ttf);
    font-weight: bold;
}

/*Шапка сайта*/
.header {
    background-color: #52503B;
    padding: 25px 0;
    
}

.container {
    margin: 0 auto;
    margin-left: 120px;
}

/*кнопка шапка*/
.head{
font-family: 'Montserrat';
font-style: normal;
font-size: 16px;
line-height: 20px;
color: #52503B;
padding-bottom: 11px;
padding-top: 11px;
padding-left: 18px;
padding-right: 18px;
margin-left: 620px;
border-radius: 8px;
border-color: #FFFFFF;
background-color: #FFFFFF;
}
.head:hover{
    color: #FFFFFF;
    background-color: #85825f;
   
}
.header .container {
    display: flex;
    align-items: center;
}

.logo img {
    vertical-align: bottom;
    margin-right: 550px;
}

.menu {
    
    font-family: 'Montserrat', sans-serif;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu-item {
    margin-right: 30px;
}

.menu-item a {
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

.menu-item a:hover {
    border-bottom: 2px solid white;
}
.header__burger-btn{
    display: none;
    position: relative;
    width: 50px;
    height: 50px;
    border: none;
    background-color:transparent;
    margin-right: 20px;
    z-index: 2;
}
.header__burger-btn span{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: black;
    left: 8px;
    transition: transform .5s, opacity .5s, background-color .5s;
}
.header__burger-btn span:nth-child(1){
    transform: translateY(-10px);
}
.header__burger-btn span:nth-child(3){
    transform: translateY(10px);
}
.head.open .header__burger-btn span:nth-child(1){
    transform: translateY(0) rotate(-45deg);
}
.head.open .header__burger-btn span:nth-child(2){
    opacity: 0;
}
.head.open .header__burger-btn span:nth-child(3){
    transform: translateY(0) rotate(45deg);
}

/* первая секция*/

.main{
    background-image: url(./img/IMAGE.png);
  background-position: center;
  background-size: cover;
  
  
}
.main1{
   margin-left: 325px;
}
.logo2{
    margin-left: 450px;
    padding-top: 178px;
    padding-bottom: 37px;
}
h1{
   width: 1174px;
    height: 106px;
    top: -3px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 33px;
}
h3{
    margin-left: 443px;
    color: white;
    padding-bottom: 113px;
    height: 20px;
    top: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.main-pic{
    margin-left: 550px;
    padding-bottom: 81px;
}

/*вторая секция*/
.page2{
    background-color: #FAF8F0;
}
.txt1{
    max-width: 354px;
    font-family: 'Montserrat';
    font-style: normal;
}
.txt2{
    max-width: 343px;
    font-family: 'Montserrat';
    font-style: normal;
    margin-left: 40px;
}
.btn{
    font-family: 'Montserrat';
font-style: normal;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
padding-bottom: 11px;
padding-top: 11px;
padding-left: 18px;
padding-right: 18px;
border-radius: 8px;
border-color: #52503B;
background-color: #52503B;
margin-top: 41px;
}
.btn:hover{
    color: #FFFFFF;
    background-color: #85825f;
}
.container2{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.line1{
text-align: center;
padding-top: 100px;
padding-bottom: 40px;
}

/*третья секция*/
.line2{
    text-align: center;
    padding-bottom: 32px;
    padding-top: 109px;
}
.page3txt{

padding-bottom: 140px;
height: 288px;
top: 140px;
width: 1174px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 96px;
text-align: center;
color: #52503B;
margin-left: 220px;
}
/*четвертая секция*/
.page4{
    background-image: url(img/ajy44.png);
    height: 660px;
    background-position: center;
  background-size: cover;
}
/*пятая секция*/
.page5{
    background: #FAF8F0;
}
.line3{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
}
.title5{
    font-family: 'Montserrat';
    font-size: 32px;
    
    top: -3px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    text-align: center;
    color: #52503B;
    
}
.txt5{
    width: 554px;
    color: #52503B;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding-bottom: 30px;
    margin-left: 640px;
}
.dopinf ul{
    list-style: none;
    display: flex;
    margin-top: 32px;
   margin-left:136px ;
   margin-right: 136px;
}
.dopinf-img{
    text-align: center;
}
.dopinf-n-title{
    text-align: center;
    color: #52503B;
    font-family: 'Montserrat';
    font-style: normal;
}
.dopinf-n-txt{
    
    text-align: center;
    color: #52503B;
    font-family: 'Montserrat';
    font-style: normal;
    width: 390px;
}
.dopinf-n{
    padding-right: 100px;
}
.dopinf{
    padding-bottom: 100px;
    margin-left: 100px;
}
/*шестая секция*/

.title6{
    font-family: 'Montserrat';
    font-size: 32px;
    top: -3px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
   
    color: #52503B;
}
.txt6{
    width: 554px;
    color: #52503B;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.line4{
    padding-top: 100px;
    padding-bottom: 30px;
}
.pynkt{
   display: flex;
}
.pynkt1{

margin-bottom: 68px;
margin-top: 32px;
margin-right: 150px;
}
.pynkt2{
   
    margin-top: 32px;
}
.page6{
    margin-left: 260px;
}
.pynkt1-1{
    width: 568px;
    display: flex;
    font-size: 14px;
    font-family: 'Montserrat';
    font-style: normal;
    margin-bottom: 32px;
    height: 70px;
}
.img-pynkt{
    margin-right: 16px;
}

/*седьмая секция*/
.page7{
    background-color:#FAF8F0 ;
}
.guests_box{
    display: flex;
    padding-bottom: 150px;
    padding-left: 40px;
}
.guest{
    list-style-type: none;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    cursor: pointer;
    padding-left: 31px;
    margin: 5px;
    width: 553px;
   
}
.img_top{
    padding-top: 31px;
    padding-bottom: 10px;
}
.txt_top{
    font-size: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    padding-bottom: 11px;
}
.txt_box{
    font-size: 14px;
    font-family: 'Montserrat';
    font-style: normal;
    padding-bottom: 19px;
    width: 506px;
}
.guest_fname{
display: flex;
padding-bottom: 31px;
}
.txt_box2{
    font-size: 14px;
    font-family: 'Montserrat';
    font-style: normal;
    margin-left: 12px;
}
/*восьмая секция*/
.page8{
    background-image: url(img/8p.svg);
    height: 660px;
    background-position: center;
  background-size: cover;
}
/*девятая секция*/
.title9{
    font-family: 'Montserrat';
    font-size: 32px;
    top: -3px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
   
    color: #52503B;
}
.txt9{
    width: 554px;
    color: #52503B;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.page9{
    margin-left: 260px;
    
}
.pynkt12{
    margin-top: 100px;
    display: flex;
    margin-left: 300px;
 }
.pynkt-box1{
 margin-right: 32px;
 }

.pynkt1-12{
    width: 260px;
    display: flex;
    font-size: 14px;
    font-family: 'Montserrat';
    font-style: normal;
    margin-bottom: 32px;
    height: 70px;
 }
.img-pynkt2{
     margin-right: 16px;
 }

.Come-together{
    display: flex;
    flex-direction: row;
 }
.line5{
    padding-top: 100px;
    padding-bottom: 30px;
}
/*десятая секция*/
.page10{
    background-color:#FAF8F0 ;
    height: 550px;
}
.title10{
    font-family: 'Montserrat';
    font-size: 32px;
    width: 533px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #52503B;
    margin-left: 660px;
    margin-bottom: 12px;
}
.btn12{
    text-align: center;
   
}
.btn1{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #52503B;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left: 26px;
    padding-right: 26px;
    border-radius: 8px;
    border-color: #52503B;
    background-color: #FFFFFF;
    margin-right: 20px;
}
.btn1:hover{
    background-color: #c0ba72;
    color: #FFFFFF;
}

.btn2{
    font-family: 'Montserrat';
font-style: normal;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
padding-bottom: 16px;
padding-top: 16px;
padding-left: 26px;
padding-right: 26px;
border-radius: 8px;
border-color: #52503B;
background-color: #52503B;
}
.btn2:hover{
    background-color: #c0ba72;
    color: #52503B;
}

/**/
footer{
   height: 608px;
   background-color: #52503B;
   
}

.icon-social{
    display: flex;
    flex-direction: row;
}
.block1{
    display: flex;
    margin-left: 350px;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    
}
.end{
    text-align: center;
    margin-top: 48px;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
}
.end-txt1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.Pages1{
    list-style-type: none;
    
}
.Pagess{
    margin-bottom: 11px;
}
.Pages{
    margin-right: 270px;
    margin-top: 100px;
}
.social{
    margin-top: 100px;
    margin-right: 160px;
}
.icon-social{
    margin-top: 20px;
}
.icon-social1{
    margin-right: 10px;
}
.Newsletter{
    margin-top: 100px;
    
}
.NewsletterTXT{
    width: 520px;
}
.input-box{
    position: absolute;
   
    transform: translate(-50%,50);
    height: 40px;
    border-radius: 20px;
    
}
.iputtxt{
    width: 560px;
    height: 52px;
    border-radius: 8px;
    border: 0px;
    padding-left: 1;
}
